html {
  font-size: 18px;
}

body {
  margin: 0em;
  font-family: 'Oswald';
}

.wrapper {
  margin: 0 0;
  z-index: -1;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #66ccff 0%, #ff99ff 100%);

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header img{
  margin: 1rem;
  height: 100%;
}

nav {
  margin: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 2em;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
}

nav ul li a:hover{
  background-color: solid white;
}

nav ul li a.active:before{
  position: absolute;
  display: inline-block;
  content: "";
  width: 75%;
  height: 1px;
  border-bottom: 2px solid white;
  bottom: -3px;
}

nav ul li a::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 0%;
  height: 2px;
  left: 50%;
  border-bottom: 2px solid white;
  bottom: -3px;
  transition: width 0.3s ease-out, left 0.3s ease-out;
  transform: translateX(-50%);
}

/* Animations */
nav ul li a:hover::before{
  width: 70%;
  left: 50%;
}

main {
  display: flex;
  gap: 10rem;
  margin-top: 4.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  overflow: auto;
}

.about{
  display: flex;
  gap: 10rem;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  font-family: "Oswald";
  font-weight: normal;
  margin: 0;
}

/* left side */
.left-col {
  width: 45%;
  display: flex;
}

.edu::before{
  position: absolute;
  content: "";
  /* background: url()*/
  width: 100px;
  height: 100px;
  top: -20px;
  left: -20px;
  z-index: 0;
}

.card-me {
  padding: 1em;
  display: flex;
  background-size: 150%;
  background-color: #89d3f9;
  margin-top: 6rem;
  border-radius: .2em;
  justify-content: center; /* center horizontally */
  align-items: flex-start; /* align to top */
  width: 40%;
}

.card-me::before {
  position: absolute;
  content: "";
  background: url('./images/blake.jpg');
  background-repeat: no-repeat;
  background-size: 140px;
  border-radius: 5rem;
  width: 130px;
  height: 130px;
  top: 25px;
  z-index: 0;
  border: 3px solid white;
}

.card-body {
  margin-top: 1.5em;
}

.card-title {
  color: white;
}

.card-text{
  color: white;
  padding-left: .5em;
  padding-bottom: 1em;
}

.description {
  margin-top: 6rem;
  margin-left: 2rem;
  width: 50%;
}

.left-col h1 {
  text-align: center;
  color: black;
  margin-bottom: 1rem;
  padding: 0.2em;
  border: 1px solid black;
  border-radius: 0.5em;
  position: relative;
}

p.title    {
  font-size: 1em;
  margin: 0;
  line-height: 100%;
}

p.details {
  font-size: 1rem;
  margin: 0;
}

.edu {
  padding: .2em;
  position: relative;
}

/* right side */
.right-col {
  flex-grow: 1;
}

.right-col {
  display: grid;
  gap: 2em;
  grid-template-columns: auto auto;
  grid-template-areas: "left ."
                       "left .";
  
}

/* Animations */
.overlay {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  animation: reveal 1s ease-in forwards;
  transform-origin: bottom;
  pointer-events: none;
}

@keyframes reveal {
  from {
      opacity: 100%;
  }
  to {
      opacity: 0%;
  }
}

main, div.page-overlay {
  animation: growIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  transform: scale(.4);
}

@keyframes growIn {
  to {
      transform: scale(1);
  }
}